<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CarreraRegistrar</servlet-name>
        <servlet-class>ufps.servlets.CarreraRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraEditar</servlet-name>
        <servlet-class>ufps.servlets.CarreraEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarreraEliminar</servlet-name>
        <servlet-class>ufps.servlets.CarreraEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignaturaRegistrar</servlet-name>
        <servlet-class>ufps.servlets.AsignaturaRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignaturaEliminar</servlet-name>
        <servlet-class>ufps.servlets.AsignaturaEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AsignaturaEditar</servlet-name>
        <servlet-class>ufps.servlets.AsignaturaEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequisitoEditar</servlet-name>
        <servlet-class>ufps.servlets.RequisitoEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequisitoRegistrar</servlet-name>
        <servlet-class>ufps.servlets.RequisitoRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequisitoEliminar</servlet-name>
        <servlet-class>ufps.servlets.RequisitoEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoRegistrar</servlet-name>
        <servlet-class>ufps.servlets.AlumnoRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoEditar</servlet-name>
        <servlet-class>ufps.servlets.AlumnoEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlumnoEliminar</servlet-name>
        <servlet-class>ufps.servlets.AlumnoEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutorRegistrar</servlet-name>
        <servlet-class>ufps.servlets.TutorRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutorEditar</servlet-name>
        <servlet-class>ufps.servlets.TutorEditar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TutorEliminar</servlet-name>
        <servlet-class>ufps.servlets.TutorEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaRegistrar</servlet-name>
        <servlet-class>ufps.servlets.NotaRegistrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaEliminar</servlet-name>
        <servlet-class>ufps.servlets.NotaEliminar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotaEditar</servlet-name>
        <servlet-class>ufps.servlets.NotaEditar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarreraRegistrar</servlet-name>
        <url-pattern>/registrarCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraEditar</servlet-name>
        <url-pattern>/editarCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarreraEliminar</servlet-name>
        <url-pattern>/eliminarCarrera</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignaturaRegistrar</servlet-name>
        <url-pattern>/registrarAsignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignaturaEliminar</servlet-name>
        <url-pattern>/eliminarAsignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AsignaturaEditar</servlet-name>
        <url-pattern>/editarAsignatura</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequisitoEditar</servlet-name>
        <url-pattern>/editarRequisito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequisitoRegistrar</servlet-name>
        <url-pattern>/registrarRequisito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequisitoEliminar</servlet-name>
        <url-pattern>/eliminarRequisito</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoRegistrar</servlet-name>
        <url-pattern>/registrarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoEditar</servlet-name>
        <url-pattern>/editarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlumnoEliminar</servlet-name>
        <url-pattern>/eliminarAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TutorRegistrar</servlet-name>
        <url-pattern>/registrarTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TutorEditar</servlet-name>
        <url-pattern>/editarTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TutorEliminar</servlet-name>
        <url-pattern>/eliminarTutor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaRegistrar</servlet-name>
        <url-pattern>/registrarNota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaEliminar</servlet-name>
        <url-pattern>/eliminarNota</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotaEditar</servlet-name>
        <url-pattern>/editarNota</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
